@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(202deg, rgba(2,0,36,1) 0%, rgba(40,7,7,1) 0%, rgba(255,0,0,1) 59%);
    text-align: center;
    padding: 20px;
}

header h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

nav {
    background-color: white;
}

.bar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bar-grid li {
    background-color: white;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px 0 black;
}

.bar-grid li a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(36,67,182);
    background: linear-gradient(0deg, rgba(36,67,182,1) 0%, rgba(43,145,234,1) 50%, rgba(36,67,182,1) 100%);
}

.main {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.subtitulos {
    border-radius: 16px;
    box-shadow: 1px 1px 10px 0 white;
    background: rgb(49,104,252);
    background: radial-gradient(circle, rgba(49,104,252,1) 42%, rgba(144,198,255,1) 100%);
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

.inicio div img {
    height: 840px;
    width: 400px;
}

.region {
    margin: 20px 50px 20px 50px;
    padding: 20px;
}

.inicial {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.img-inicial {
    width: 275px;
    height: 275px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px 0 white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-inicial img {
    width: 275px;
    height: 275px;
}

footer {
    padding: 3em;
    background: rgb(2,0,36);
    background: linear-gradient(31deg, rgba(2,0,36,1) 0%, rgba(40,7,7,1) 0%, rgba(255,0,0,1) 59%);
}

/* .bar-grid {
    display: grid;
    grid-template-areas: 
    "h1"
    "br"
    "nav";
} */