@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins&family=Roboto&display=swap");
.nav-bar {
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 600px) {
  .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
  }
}
.nav-bar li {
  background-color: white;
  list-style-type: none;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 black;
}
@media (min-width: 768px) {
  .nav-bar li {
    padding: 10px 5px 10px 5px;
    width: 100%;
  }
}
.nav-bar li a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer {
  margin-top: 100px;
  padding: 3em;
  background-color: black;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(44, 162, 246);
}

h1 {
  font-family: "Orbitron", sans-serif;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

header h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

nav {
  background-color: white;
}

.subtitulos {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 white;
  background-color: rgb(48, 48, 237);
  margin: 20px 50px 20px 50px;
  padding: 20px;
}

.main {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.contactos {
  font-family: "Roboto", sans-serif;
  color: white;
}
.contactos img {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .small-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.lista-regiones {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 10px 10px 10px 10px;
  border: 5px solid rgb(153, 153, 153);
}
.lista-regiones ul {
  padding-left: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
  .lista-regiones ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.lista-regiones ul li {
  list-style-type: none;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.region {
  font-family: "Orbitron", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  margin: 20px 100px 20px 100px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 black;
}

.inicial {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0 20px 20px 20px;
  border-radius: 16px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
}

.img-inicial {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.img-inicial img {
  width: 125px;
  height: 125px;
  margin-top: 10px;
}

.descripcion {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
}

.planta {
  background-image: url(../images/ambiente-tipo-planta.jpg);
  background-size: cover;
}

.fuego {
  background-image: url(../images/ambiente-tipo-fuego.jpg);
  background-size: cover;
}

.agua {
  background-image: url(../images/ambiente-tipo-agua.jpg);
  background-size: cover;
}

.all-iniciales {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.font-family-default {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

.estructura-stats {
  background-color: black;
  color: white;
  padding: 30px;
}

.plate-plant {
  background: rgb(0, 82, 9);
  background: linear-gradient(45deg, rgb(0, 82, 9) 0%, rgb(39, 210, 26) 50%, rgb(0, 82, 9) 100%);
}

.plate-fire {
  background: rgb(116, 0, 0);
  background: linear-gradient(45deg, rgb(116, 0, 0) 0%, rgb(232, 63, 63) 50%, rgb(116, 0, 0) 100%);
}

.plate-water {
  background: rgb(0, 35, 116);
  background: linear-gradient(45deg, rgb(0, 35, 116) 0%, rgb(64, 170, 217) 50%, rgb(0, 35, 116) 100%);
}

.plate-stats {
  color: #ffffff;
  width: 260px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 white;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .plate-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .plate-stats {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .plate-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.container-plates {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .container-plates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.three-plates {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 890px) {
  .three-plates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.three-stats {
  color: #ffffff;
  width: 260px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 white;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 480px) {
  .three-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 890px) {
  .three-stats {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1340px) {
  .three-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 889px) {
  .three-font-size {
    line-height: 2;
    font-size: 20px;
  }
}
@media (min-width: 1340px) {
  .three-font-size {
    line-height: 3;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .stats {
    font-size: 20px;
    line-height: 2;
  }
}

.pkm-position {
  padding: 10px 0 10px 10px;
}

.img-pkm {
  width: 125px;
  height: 125px;
}
@media (min-width: 768px) {
  .img-pkm {
    width: 250px;
    height: 250px;
  }
}

.arrow:is(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.arrow:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2359abdd'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.container-megas {
  background-color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .container-megas {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.plate-mega {
  background: rgb(181, 136, 0);
  background: linear-gradient(135deg, rgb(181, 136, 0) 0%, rgb(255, 246, 74) 50%, rgb(181, 136, 0) 100%);
  width: 260px;
  border: 3px solid white;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 0 white;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 600px) {
  .plate-mega {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .plate-mega {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.img-mega {
  width: 125px;
  height: 125px;
}
@media (min-width: 480px) {
  .img-mega {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) {
  .img-mega {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .img-mega {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 480px) {
  .mega-data {
    font-size: 20px;
  }
}

.text-mega {
  margin-left: 20px;
  color: white;
}
@media (min-width: 768px) {
  .text-mega {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .text-mega {
    font-size: 23px;
  }
}

.container-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .container-redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

.img {
  width: 125px;
  height: 125px;
}
@media (min-width: 768px) {
  .img {
    width: 200px;
    height: 200px;
  }
}

.red-social {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
  border: 10px solid white;
}
@media (min-width: 600px) {
  .red-social {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1024px) {
  .red-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-text {
  margin-top: 10px;
}
.social-text h3 {
  font-size: 15px;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .social-text h3 {
    font-size: large;
  }
}
.social-text p {
  font-size: 20px;
}
.social-text p a {
  text-decoration: none;
  color: #0095ff;
}
.social-text p a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .region {
    font-size: 2rem;
  }
  .inicial {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img-inicial {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .img-inicial img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) {
  .ini-planta {
    border: 5px solid green;
  }
  .ini-fuego {
    border: 5px solid red;
  }
  .ini-agua {
    border: 5px solid blue;
  }
}
@media (min-width: 1024px) {
  .region {
    margin: 20px 200px 20px 200px;
  }
  .img-inicial {
    overflow: hidden;
  }
  .img-iniciales {
    transition-property: all;
    transition-duration: 1s;
  }
  .img-iniciales:hover {
    transform: scale(2);
  }
  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .inicial {
    display: flex;
    flex-direction: column;
  }
  .img-inicial {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */